@{
    ViewBag.Title = "Home Page";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div>
    <table>
        <tr>
            <th>
                Navn
            </th>
            <th>
                Klasse
            </th>
            <th>
                Alder
            </th>
        </tr>

        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Navn
                        </td>
                        <td>
                            @item.Klasse
                        </td>
                        <td>
                            @item.Alder
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>



<div style="background-color:gray; padding: 2rem">
    <!--ajax call to controller-->
    <input type="text" id="txtNavn" />
    <input type="button" id="btnGet" value="Get Current Time" />


</div>



<script type="text/javascript">
    $("#btnGet").click(function () {
        $.ajax({
            type: "POST",
            url: "/Home/AjaxMethod",
            data: '{Name: "'+ $("#txtNavn").val() +'"}',
            contentType: "application/json; charset = utf - 8",
            dataType: "json",
            success: function (response) {
                alert("Hello: " + response.Navn + " " + response.Klasse + " " + response.Alder);
            },
            failure: function (response) {
                alert(response.responseText);

            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    });

</script>
 